{
  "user": {
    "name": "deployer",
    "password": "$1$9pQZa2UB$IX25jzt.2n3jU7CHiRDUj."

  },
  "rbenv": {
    "install_prefix": "/usr/local",
    "group_users": ["vagrant", "deployer"]
  },

  "run_list": ["recipe[main]"],
  "nginx": {
    "version": "1.4.2"
  }
}
